:root{
    --primary-color: rgba(248, 248, 248, 0.836);
    --secondary-color: #b6b7d5;
    --text-color: #000;
    --darkmode-toggle: rgb(255, 166, 0);
    --primary-accent-color: #4E9F3D;
    --secondary-accent-color: #3246C5;
    --tertiary-accent-color: #D32F2F;
}
/* General */
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;

}
html,
body{
    height: 100%;
}
body{
    font-size: 16px;

    margin: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
}
/* Typography */
h1,
h2,
p,
ul,
li{
    margin: 0;
    padding: 0;
}
.material-icons{
    cursor: pointer;
}
/* Layout */
.uibar-width{
    width: 95%;
    margin: 0 auto;
}

.content-width{
    width: 80%;
    margin: 0 auto;
}
.main-bg{
    height: 100%;
    padding-bottom: 1em;

}

/* Top bar present in all screens */
.main-bg{
    background-color: var(--secondary-color);
}
.main-menu-title{
    font-weight: 400;
}
.app-topbar{
    padding: 1.5em 0;
    height: 15%;

}
.topbar-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Input & Btn */
.input{
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    font-size: 1.3rem;

    outline: none;
    border: none;
    border-radius: 14px;

    align-self: center;
    padding: 1em 3em;
}
.miles-btn{
    align-self: center;
    padding: 1.5em 4em;
    border-radius: 50px;
    outline: none;
    border: none;
}
.miles-btn-color{
    background-color: var(--text-color);
    color: var(--primary-color);
}