body{
    color: var(-text-color);
}
h1{
    text-align: center;
    font-weight: 400;
}
i{
    cursor: pointer;
}
.instructions-text{
    font-size: 1.3rem;
    text-align: center;
}
.welcome-bg{
    background: var(--secondary-color);
    color: var(--text-color);
    height: 100%;


    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.site-title{
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    font-size: 1.7rem;
    height: 100%;
    
}
.site-title-container{
    min-height: 40%;
}
.language-theme-selector{
    background-color: var(--primary-color);

    border-top-right-radius: 42px;
    border-top-left-radius: 42px;

   min-height: 60%;

    padding: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.user-preference-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Elements */
.page-width{
    width: 90%;
    margin: 0 auto;
}
/* Btn & input */
.language-input{
    display: block;
    margin-bottom: 1em;
    padding: 1em 0;


    outline: none;
    border: 1px var(--text-color) solid;
    border-radius: 15px;

    width: 100%;
    margin-bottom: 2em;

    font-size: 1.5rem;
    text-align: center;
}
@media (orientation: landscape){
    .language-input{
        width: 50%;
    }
}
.language-input-color{
    background-color: var(--primary-color);
    color: var(--text-color);
}
.btn{
    padding: 0.1em 4em;
    cursor: pointer;
    
    outline: none;
    border: none;
    border-radius: 85px;
}
.btn-color{
    background-color: var(--secondary-accent-color);
    color: var(--text-color);
}
.next-btn{
    font-size: 4rem;
    color: #fff;
}
#theme-btn{
    font-size: 2.5rem;
}