:root{
    --primary-color: #f5f5fa;
    --secondary-color: #b6b7d5;
    --text-color: #121212;
    --primary-accent-color: #4E9F3D;
    --secondary-accent-color: #303F9F;
    --tertiary-accent-color: #D32F2F;
}
/* General */
html,
body{
    height: 100%;
}
body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
}
/* Typography */
h1, h2{
    font-weight: 300;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}
p{
    margin: 0;
}
/* Layout */
.container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    align-items: space-between;
}
.section-style{
    border: solid 1px var(--text-color);
    margin: 2em 0;
    padding: 1em;
}
@media (orientation: landscape){
    .container{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .section-style{
        margin: 0;
    }
}
.theme-box{
    position: fixed;
    bottom: 0;
}
.material-icons{
    cursor: pointer;
    font-size: 3rem;
}
.content-width{
    display: grid;
    justify-items: center;
}
.btn,
.input{
    border: none;
    transition: all 300ms ease-in-out;
    font-size: 1.1rem;
}
.btn{
    margin: 0;
    padding: 10px 23px;
    border-radius: 7px;
    outline: 0;
    border: 0;
    cursor: pointer;
    
}
.input{
    padding: 10px 30px;
    margin-bottom: 10px; 
    text-align: center;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.result-box{
    margin-top: 1em;
    background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
    color: #fff;
    border-radius: 6px;
    font-size: 0.9em;
    padding: 0.3em 0.7em;
    transition: all 0.5s ease 0s;
}
.section-style{
    border-radius: 7px;
}
/* Modals - Layout */
#disclaimer-box{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.762); /* Black w/ opacity */
}
#disclaimer-content {
    display: flex;
    flex-direction: column;
    
    background-color: var(--primary-color);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid var(--secondary-color);
    border-radius: 7px;
    width: 85%; /* Could be more or less, depending on screen size */
    align-items: center;
}
#disclaimer-box .btn {
    width: 40%;
    margin: 2% auto;
}
.email-box{
    margin-top: 1em;
    padding: 0.6em;
    background-color: var(--primary-color);
    color: var(--text-color);

    text-align: center;
    border-radius: 5px;
    border: solid 2px var(--text-color)
}

/* Colors General */
header{
    background: var(--primary-color);
    border-bottom: solid var(--text-color) 1px;
    margin-bottom: 1em;
}
.gray-text{
    color: gray;
}
.text-accent{
    font-weight: 800;
}
.text-accent,
.text-accent2{
    color: var(--primary-accent-color);
}
.btn:hover,
.btn:focus{
    background-color: var(--primary-accent-color);
    color: #fff;
    outline: none;
    box-shadow: rgb(80 63 205 / 50%) 0px 1px 35px;
    transition: all 0.1s ease 0s;
}
.input:focus, 
.input:active{
    outline: none;
    border-bottom: solid var(--primary-accent-color) 1.5px;
}
.primary-color{
    background-color: var(--primary-color);
    color: var(--text-color);
}
.secondary-color{
    background-color: var(--secondary-color);
    color: var(--text-color);
}
.input-color{
    border-bottom: solid var(--text-color) 1.5px;
    background-color: var(--primary-color);
    color: var(--text-color);
}
.primary-btn{
    text-shadow: rgb(0 0 0 / 12%) 0px 3px 8px;
    background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
    transition: all 0.5s ease 0s;
    color: #fff;
}
.darkmode-toggle{
    color: var(--text-color);
}
