/* *{
    border: 1px red solid;
} */

/* Page layout */
.modeSelection-bg{
    background: var(--secondary-color);
    
    color: var(--text-color);
    height: 100%;


    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.site-title-container{
    height: 30%;
}
.disclaimer-header{
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 1.7rem;
    height: 100%;

}
.mode-selector-container{
    background-color: var(--primary-color);
    

    border-top-right-radius: 42px;
    border-top-left-radius: 42px;

    height: 70%;

    padding: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.mode-selector-user-checkbox{
    display: flex;
    flex-direction: column;
}
.checkbox-container{
    margin: 1em 0;
}
.user-buttons{
    display: flex;
    justify-content: space-between;
}

/* Btn & input */
.ui-btn{
    display: block;

    text-decoration: none;
    color: var(--text-color);

    padding: 0.7em 1.5em;
    border-radius: 50px;
}


.checkbox-container{
    border: 2px var(--secondary-accent-color) solid;
    border-radius: 14px;
    padding: 1em;
    font-size: 0.8rem;
}
.checkbox-container:focus,
.checkbox-container:hover{
    background-color: var(--secondary-accent-color);
}

#english-agent{
    background-color: var(--tertiary-accent-color);
}

.back-btn-color{
    background-color: #303030;
    color: #fff;
}
.next-btn-color{
    background-color: var(--secondary-accent-color);
    color: #fff;
}
#theme-btn{
    display: none;
}